*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f4f6f8;
    font-family: Arial, sans-serif;
}

.container{
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
h1{
    text-align: center;

}

.form input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 8px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.delete {
  background: red;
  padding: 3px 8px;
  cursor: pointer;
}